@use "./../../../shared/styles/mixins" as mixins;
@use "./../../../shared/styles/colors/colors" as colors;

.main-content-wrapper {
  position: relative;
  z-index: 10;
}

.main-content {
  @include mixins.flexspbtw(center, flex-start);
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 10;

  > label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  > label:nth-child(5) {
    flex-direction: row;
  }
}

.error::placeholder {
  color: red;
}

.privacy-error {
  transform: translateY(-22px);
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 4px;

  > input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: url("../../../../../public/images/cursor_portfolio_hover.png"),
      pointer;
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    border: solid 2px colors.$main-btn-bg-clr;
    border-radius: 2px;

    &:hover {
      background-color: colors.$main-btn-txt-clr;
    }
  }

  > input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: 0;
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    color: #e8103f;
    font-size: 18px;
  }
}

.privacy-link {
  color: #691a18;

  &:hover {
    color: #aa0428;
  }
}

.form-send {
  filter: grayscale(1);
  transition: all 250ms ease-in-out;
  pointer-events: none;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(100dvw, -50%);
  background-color: #5A6449;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  color: #741100;
  border: solid 2px black;
  box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.404);
  z-index: 15;
  transition: all 350ms ease-in-out;
}

.open-overlay {
  transform: translate(-50%, -50%);
}