@use "../../../shared/styles/mixins" as mixins;


.main-content {
    @include mixins.flexspbtw();
}

.img-wrapper {
      height: 300px;

      @media (max-width: 400px) {
        display: none;
      }

            > img {
            height: 100%;
            width: auto;
        }
}