@use "./themes";

$header-txt-clr: var(--header-txt-clr);
$header-bg-clr: var(--header-bg-clr);

$main-bg-clr: var(--main-bg-clr);
$main-txt-clr: var(--main-txt-clr);

$main-btn-bg-clr: var(--main-btn-bg-clr);
$main-btn-txt-clr: var(--main-btn-txt-clr);

$footer-bg-clr: var(--footer-bg-clr);
$footer-txt-clr: var(--footer-txt-clr);

$smooth-bg-clr: var(--smooth-bg-clr2);
