.content {
  display: flex;
  flex-direction: column;
  width: 40dvw;
  margin-left: auto;

  @media (max-width: 1000px) {
    width: 60dvw;
  }

  @media (max-width: 500px) {
    width: auto;
    margin-left: 0;
  }

  > a {
    width: fit-content;
    margin-left: auto;
  }
}
