@use "./../../shared/styles/mixins" as mixins;

.main-content {
  background-image: url("../../assets/images/school-infos/note_bg_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  > h1 {
    text-align: center;
  }

  > h1:nth-child(3) {
    margin: 48px 0 0;
  }

  > div {
    > div {
      @include mixins.flexspbtw();
      @media (max-width: 850px) {
        display: block;
        margin: 20px 0;
      }
      @media (max-width: 440px) {
        display: flex;
        flex-direction: column;
      }

      > div {
        @include mixins.flexspbtw();
        gap: 24px;
        @media (max-width: 440px) {
          flex-direction: column;
          gap: 4px;
          margin-top: 12px;
          align-items: center;
        }

        > div {
          @include mixins.flexspbtw();
          width: 224px;

          @media (max-width: 520px) {
            width: 185px;
            align-self: flex-end;
          }
        }
      }
    }
  }
}

.header {
  color: red;
}

.note-wrapper {
    padding: 10px 4px;

    &:nth-of-type(even) {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
}

.input-wrapper {
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin: 24px 0 0 0;
}

.input-error-wrapper {
  width: 120px;
  height: 17px;
}
