@use "../styles/colors/colors" as colors;

.btn-std-layout {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: colors.$main-btn-bg-clr;
  color: colors.$main-btn-txt-clr;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.671);
    color: #EF5B57;
  }
}

.no-hover {
  &:hover {
    box-shadow: none;
    color: default;
  }
}