@font-face {
  font-family: patrickHand;
  src: url('../../assets/fonts/patrick_hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: fredoka;
  src: url('../../assets/fonts/fredoka/Fredoka-VariableFont.ttf');
}

@font-face {
  font-family: comicNew;
  src: url('../../assets/fonts/comic_new/ComicNeue-Regular.ttf');
}