@use "../styles/colors/colors" as colors;

.error-color {
  color: #7a0000;
}

.input-std-layout {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: colors.$main-btn-bg-clr;
  color: colors.$main-btn-txt-clr;
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}