.pad-main {
  padding: 48px;
}

.pad-main-header {
  padding: 12px 48px;

  @media (max-width: 800px) {
    padding: 8px 12px;
  }
}

.pad-main-footer {
  padding: 12px 48px;
}

.pad-txt-box {
  padding: 20px;
}

.border-txt-box {
  border: solid 1px black;
  border-radius: 12px;
}

.std-glas-effect-shadow {
  background: rgba(230, 255, 160, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.colored-bg {
  background: linear-gradient(
    to bottom,
    #5d5e60,
    #9d6aac,
    #b5b3d8,
    #00aff0,
    #03aced,
    #87c22c,
    #cbd743,
    #fbd862,
    #f7ad58,
    #ea1519,
    #f1635f,
    #da8b50
  );
  filter: grayscale(0.7);
}

//  className={`${styles['']}`}
