

.header-font {
    font-family: notoSans, sans-serif, 'Times New Roman', Times, serif;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 1.5;
}

.sub-header-font {
    font-family: notoSans, sans-serif, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 600;
}

.main-txt-font {
    font-family: notoSans, sans-serif, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 400;
}

.main-txt-font-600 {
    font-family: notoSans, sans-serif, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
}

.main-small-txt-font {
    font-family: notoSans, sans-serif, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}