@use "../../shared/styles/mixins" as mixins;

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.144);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 140px;
  max-height: 100%;
  width: 100dvw;

  @media (min-width: 1281px) {
    background-image: url("../../assets/images/header/background-3176447_1920.jpg");
  }
  @media (max-width: 1280px) {
    background-image: url("../../assets/images/header/background-3176447_1280.jpg");
  }
  @media (max-width: 640px) {
    background-image: url("../../assets/images/header/background-3176447_640.jpg");
  }

  > div {
    @include mixins.flexspbtw(space-between, flex-start);
    flex-direction: column;
    gap: 8px;

    > nav {
      @include mixins.flexspbtw();
      gap: 24px;
      align-self: start;

      > a {
        padding: 4px 8px;
        border-radius: 12px;

        &:hover {
          color: #900257;
          box-shadow: 0 0 10px rgba(117, 48, 83, 0.8),
            0 0 5px rgba(110, 44, 77, 0.6), 0 0 10px rgba(255, 105, 180, 0.4),
            0 0 20px rgba(255, 105, 180, 0.2);


        }
      }
    }
  }
}

.img-wrapper {
  height: 95px;
  width: 140px;
  @include mixins.flexspbtw(center, center);

  > img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}
