@use "../../shared/styles/mixins" as mixins;

.main-content {
  @include mixins.flexspbtw();
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: 1281px) {
    background-image: url("../../assets/images/header/background-3176447_1920.jpg");
  }
  @media (max-width: 1280px) {
    background-image: url("../../assets/images/header/background-3176447_1280.jpg");
  }
  @media (max-width: 640px) {
    background-image: url("../../assets/images/header/background-3176447_640.jpg");
  }

  > div {
    > span {
        > a {
            &:hover {
                color:#e8103f;
            }
        }
    }
  }
}

.right {
  width: 140px;

  > img {
    width: 100%;
    height: auto;
  }
}

.middle {
  text-align: center;
  @include mixins.flexspbtw(center, center);
  flex-direction: column;

  > a {
    width: 60px;
    height: auto;
    cursor: pointer !important;


  }

  > nav {
    font-weight: 450;
  }
}

.left {
  width: 250px;

  > span:nth-child(1) {
    font-weight: 600;
  }

  > div {
    > img {
      width: 100%;
      height: auto;
    }
  }
}

.footer-link {
    font-weight: 500 !important;

    &:hover {
        color:#e8103f;

    }
}

.logo-wrapper {

cursor: pointer !important;

}