@use "../../shared/styles/mixins" as mixins;

.main-content {
    @include mixins.flexspbtw();
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border: solid 2px black;

  @media (min-width: 1281px) {
    background-image: url("../../assets/images/header/background-3176447_1920.jpg");
  }
  @media (max-width: 1280px) {
    background-image: url("../../assets/images/header/background-3176447_1280.jpg");
  }
  @media (max-width: 640px) {
    background-image: url("../../assets/images/header/background-3176447_640.jpg");
  }
}

.right {
    width: 140px;

    > img {
        width: 100%;
        height: auto;
    }
}

.middle {
    text-align: center;
    @include mixins.flexspbtw(center, center);
    flex-direction: column;

    > div {
        width: 60px;
        height: auto;
    }
}

.left {
width: 250px;

> div {

    > img {
        width: 100%;
        height: auto;
    }
}
}