* {
  box-sizing: border-box;
  // cursor: default;
}

html, body {
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.05);
  }
}